{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
    <h1 class="display-5">"Se tiene disciplina por que se espera innovación."</h1>
    <h1 class="display-4">¡Hola!</h1>
    <p class="lead">En tracker electronics estamos para servirte siempre que lo necesites. Queremos que todos nuestros clientes puedan experimentar el nivel de profesionalismo de nuestro equipo.</p>
    <hr class="my-4">
    <p>Trabajamos día a día perfeccionando nuestros servicios. Estamos comprometidos con ofrecer productos y atención de la más alta calidad a nuestros clientes.</p>
    <p>Como la tecnología y nuestros métodos, nunca dejamos de mejorar y constantemente ampliamos nuestra oferta para atender a todas sus inquietudes, manejando una garantía para su tranquilidad.</p>
    <p>En Tracker Electronics, nuestro prestigio se basa en métodos excepcionales para el amplio rendimiento de su pequeña, mediana o gran empresa, iniciando desde optimizar su equipo de cómputo como nadie más los puede ofrecer. Contáctanos hoy mismo, sabemos
        cómo podemos ayudarte.</p>
    <a class="btn btn-primary btn-lg" href="/contact" role="button">¡Contactanos!</a>

</div>

{% endblock %}