{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
    <h1 class="display-4">¿Los mejores?</h1>
    <p class="lead">No sabemos si seamos los mejores en el mundo... pero si para ti.</p>
    <hr class="my-4">
    <p>En la mayoría de nuestros servicios el trabajo estará listo en 24 horas y en los trabajos más exhaustivos el trabajo estaría listo en 3 días, no esperes una semana a que te den un diagnóstico, nosotros sabemos que es lo que tiene con un vistazo.</p>
    <p>Usamos consumibles como pastas térmicas de Cooler master de cerámica para equipos de oficina y de plata para equipos de alto rendimiento, usamos toallas y alcohol de primer nivel y todo para poder cuidar de tu equipo tal como tú lo cuidarías</p>
    <p>En nuestro laboratorio usamos métodos como reballing si es que el daño es a nivel componente, tenemos refacciones en menos de una semana y si eres cliente premium puedes tener una pc mientras arreglamos la tuya</p>
    <a class="btn btn-primary btn-lg" href="/contact" role="button">¡Contactanos!</a>
</div>


{% endblock %}